%p#notice= notice

Renderd at #{l Time.current}
= turbo_frame_tag 'room' do
  %p
    %b Name:
    = @room.name

  = link_to 'Edit', edit_room_path(@room)
  \|
  = link_to 'Back', rooms_path, target: '_top'
#messages
  = render @room.messages
= link_to 'New Messages', new_room_message_path(@room)
